@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 258 60% 15%;
    --foreground: 0 0% 98%;
    --card: 265 35% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 260 30% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 85% 68%;
    --primary-foreground: 0 0% 98%;
    --secondary: 265 35% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 265 35% 25%;
    --muted-foreground: 240 5% 65%;
    --accent: 265 35% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 265 35% 25%;
    --input: 262 85% 68%;
    --ring: 262 85% 68%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 1rem;
  }

  .dark {
    --background: 258 60% 15%;
    --foreground: 0 0% 98%;
    --card: 265 35% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 260 30% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 85% 68%;
    --primary-foreground: 0 0% 98%;
    --secondary: 265 35% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 265 35% 25%;
    --muted-foreground: 240 5% 65%;
    --accent: 265 35% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 265 35% 25%;
    --input: 262 85% 68%;
    --ring: 262 85% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
     background-image: radial-gradient(circle at 20% 20%, hsla(270, 80%, 40%, 0.3) 0%, transparent 40%),
                        radial-gradient(circle at 80% 70%, hsla(260, 80%, 50%, 0.3) 0%, transparent 40%);
  }
}
